---
title: Joao Fernandes Read List
---

<div class="unit pushNext">
    <div class="span3">
      <div class="centerText">4</div>
      <div class="subdue">Books read so far</div>
    </div>
    <div class="span8 chart">The chart goes here</div>
</div>


<ol class="timeline clearfix">
  <li class="spine">
    <a href="#" title="This is the Spine of Facebook Timeline. You can Add Custom Events here"></a>
  </li>
  <li class="left">
    <i class="pointer"></i>
    <div class="unit">
      <ol class="actions">
        <li class="active"><a href="#" rel="Status"><i class="icon icon-status"></i>Status</a></li>
        <li><a href="#"><i class="icon icon-photo"></i>Photo</a></li>
        <li><a href="#"><i class="icon icon-place"></i>Place</a></li>
        <li><a href="#"><i class="icon icon-event"></i>Life Event</a></li>
      </ol>
      
      <!-- Units -->
      <div class="actionUnits">
        <div class="formUnit" id="Status">
          <i class="active"></i>
          <textarea name="" placeholder="What's on your mind?" id="" cols="30" rows="3"></textarea>
          
          <ol class="controls clearfix">
            <li class="post">
              <button class="uibutton confirm" type="submit">Post</button>
            </li>
          </ol>

        </div>
      </div>
      <!-- / Units -->
      
    </div>
  </li>
  
  <li class="right" id="AngelsGame">
    <i class="pointer"></i>
    <div class="unit">
      
      <!-- Story -->
      <div class="storyUnit">
          <a href="#" class="imageToLeft">
            <img src="images/angels-game/128.jpg" alt="Angel's Game">
          </a>
          <a href="#"><h4>The Angel's Game</h4></a>
          <p class="author">Ruiz Zafon</p>
          <p>From master storyteller Carlos Ruiz Zafón, author of the international phenomenon The Shadow of the Wind, comes The Angel’s Game—a dazzling new page-turner about the perilous nature of obsession, in literature and in love.“The whole of Barcelona stretched out at my feet and I wanted to believe that, when I opened those windows, its streets would whisper stories to me, secrets I could capture on paper and narrate to whomever cared to listen . . .”In an abandoned mansion at the heart of Barcelona, a young man, David Martín, makes his living by writing sensationalist novels under a pseudonym. The survivor of a troubled childhood, he has taken refuge in the world of books and spends his nights spinning baroque tales about the city’s underworld. But perhaps his dark imaginings are not as strange as they seem, for in a locked room deep within the house lie photographs and letters hinting at the mysterious death of the previous owner. Like a slow poison, the history of the place seeps into his bones as he struggles with an impossible love. Close to despair, David receives a letter from a reclusive French editor, Andreas Corelli, who makes him the offer of a lifetime. He is to write a book unlike anything that has ever existed—a book with the power to change hearts and minds. In return, he will receive a fortune, and perhaps more. But as David begins the work, he realizes that there is a connection between his haunting book and the shadows that surround his home.Once again, Zafón takes us into a dark, gothic universe first seen in the Shadow of the Wind and creates a breathtaking adventure of intrigue, romance, and tragedy. Through a dizzingly constructed labyrinth of secrets, the magic of books, passion, and friendship blend into a masterful story. <a href="#"> See what I learned</a></p> 

      </div>
      <!-- / Story -->
      
      <!-- Units -->
        <ol class="storyActions">
          <li><a href="#">Fiction</a></li>
        </ol>
      <!-- / Units -->
      
    </div>
  </li>
  
  <li class="right">
    <i class="pointer"></i>
    <div class="unit">
      
      <!-- Story -->
      <div class="storyUnit">
          <a href="#" class="imageToLeft">
            <img src="images/brave-new-world/128.jpg" alt="Angel's Game">
          </a>
          <a href="#"><h4>Brave New World</h4></a>
          <p class="author">Aldous Huxley</p>
          <p>This is another book about distopias. In this world people are separeted by several hierarchies, each one holding a different role in the society. This society is consumption driven, and all wishes are encouraged, even the most futile ones. The book is divided in two parts, where two main characters are described. One is a man that is loosing faith in this society but becaming famous enjoys it. And other that is seen as an animal because his beliefs go against what is preached by this society. <a href="#"> See what I learned</a></p>
      </div> 
      <!-- / Story -->
      
      <!-- Units -->
      <ol class="storyActions">
        <li><a href="#">Fiction</a></li>
      </ol>
      <!-- / Units -->
      
    </div>
  </li>
  
  <li class="left" id="DontMakeMeThink">
    <i class="pointer"></i>
    <div class="unit">
      
      <!-- Story -->
      <div class="storyUnit">
          <a href="#" class="imageToLeft">
            <img src="images/dont-make-me-think/128.jpg" alt="Angel's Game">
          </a>
          <a href="#"><h4>Don't Make Me Think</h4></a>
          <p class="author">Steve Krug</p>
          <p>This book discusses about usability in general, and focus a little on how to conduct web usability tests. This is a book for quick and dirty usability tests. The theory behind isn't explained and it is why this book is so usefull. <a href="#"> See what I learned</a></p>
      </div> 
      <!-- / Story -->
      
      <!-- Units -->
      <ol class="storyActions">
        <li><a href="#">Usability</a></li>
        <li><a href="#">User Testing</a></li>
      </ol>
      <!-- / Units -->
      
    </div>
  </li>


    <li class="highlight" id="LateralThinking">
    <i class="pointer"></i>
    <div class="unit">
      
      <!-- Story -->
      <div class="storyUnit">
          <a href="#" class="imageToLeft">
            <img src="images/lateral-thinking/216.jpg" alt="Lateral Thinking">
          </a>
          <a href="#"><h4>Lateral Thinking</h4></a>
          <p class="author">Edward deBono</p>
          <p>In schools we are taught to meet problems head-on: what Edward de Bono calls 'vertical thinking'. This works well in simple situations - but we are at a loss when this approach fails. Lateral thinking is all about freeing up your imagination.Through a series of special techniques, in groups or working alone, Edward de Bono shows us how to look at problems from a variety of angles and in so doing offer up solutions that are as ingenious as they are effective. After reading this book you will become a much more productive and formidable thinker. <a href="#"> See what I learned</a></p>
      </div> 
      <!-- / Story -->
      
      <!-- Units -->
      <ol class="storyActions">
        <li><a href="#">Thinking</a></li>
        <li><a href="#">Problem Solving</a></li>
      </ol>
      <!-- / Units -->
      
    </div>
  </li>

    <li class="highlight">
    <i class="pointer"></i>
    <div class="unit">
      
      <!-- Story -->
      <div class="storyUnit">
        <div class="imageUnit">
          <a href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/186035_897940273_1597318_q.jpg" width="32" height="32" alt=""></a>
          <div class="imageUnit-content">
            <h4><a href="#">Lateral Thinking</a></h4>
            <p>01/03/2013</p>
          </div>
                
        </div>
      
        <p><strong>A milestone is reached: book #50.</strong></p>
        <p>In schools we are taught to meet problems head-on: what Edward de Bono calls 'vertical thinking'. This works well in simple situations - but we are at a loss when this approach fails. Lateral thinking is all about freeing up your imagination.Through a series of special techniques, in groups or working alone, Edward de Bono shows us how to look at problems from a variety of angles and in so doing offer up solutions that are as ingenious as they are effective. After reading this book you will become a much more productive and formidable thinker. <a href="#"> See what I learned</a></p>
      
      </div>
      <!-- / Story -->
      
      <!-- Units -->
      <ol class="storyActions">
        <li><a href="#">Like</a></li>
        <li><a href="#">Comment</a></li>
        <li><a href="#">@artminister on Twitter</a></li>
      </ol>
      <!-- / Units -->
      
    </div>
  </li>
</ol>
